<button (click)="getSelectedRows()">log selected row nodes</button>

<!-- <ag-grid-angular #agGrid class="ag-theme-alpine-dark-custom"
   [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
   [rowModelType]="rowModelType" [maxBlocksInCache]="maxBlocksInCache"
   [animateRows]="animateRows" [rowData]="rowData" [rowSelection]="rowSelection"
   [suppressDragLeaveHidesColumns]="suppressDragLeaveHidesColumns"
   (filterChanged)="onFilterChanged($event)" (gridReady)="onGridReady($event)">
</ag-grid-angular> -->