.host {
   &::-webkit-scrollbar {
      height: var(--scrollbar-height-2);
      width: var(--scrollbar-width-1);
   }

   &::-webkit-scrollbar-track {
      background: var(--scrollbar-track-1);
   }

   &::-webkit-scrollbar-thumb {
      background: var(--scrollbar-thumb-1);
   }

   &::-webkit-scrollbar-corner {
      background: rgba(0, 0, 0, 0);
   }
}

.listHeader {
   width: 100%;
   position: sticky;
   top: 0;
   z-index: 1;

   height: 2rem;
   background-color: var(--dark-2);

   display: flex;
   flex-flow: row nowrap;
   align-items: center;
}

.listRow {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
}