.host {
   display: grid;
   overflow: hidden;
   -webkit-font-smoothing: antialiased;
}

.wrapper {
   overflow: hidden;
   display: grid;
   grid-template-rows: 3rem 1fr;
   position: relative;
}


.listHeaderWrapper {
   position: relative;
   display: grid;
   grid-auto-flow: row;
   background-color: var(--dark-blue-2);
   border-bottom: 2px solid var(--border-grey-1);

   & .listHeader {
      position: absolute;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      height: 100%;

      & .headerField {
         background-color: var(--dark-blue-2);
         position: relative;
         display: flex;
         flex-flow: row nowrap;
         justify-content: space-between;
         align-items: center;
         height: 100%;
         padding-inline: 1rem;

         & .headerFieldLabel {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            position: relative;
            overflow: hidden;
            
            & >span {
               overflow: hidden;
               white-space: nowrap;
               text-overflow: ellipsis;
            }
         }

         & .columnMover {
            position: absolute;
            display: grid;
            place-items: center;
            width: 100%;
            height: 100%;
            z-index: 1;
            cursor: grab;
         }

         & .columnMenuWrapper {
            display: grid;
            grid-auto-flow: column dense;
            column-gap: 0.25rem;

            & .columnMenu,& .columnSort {
               cursor:pointer;
               &:hover {
                  color: var(--blue-highlight-1)
               }
            }
         }

         & .columnResizer {
            position: absolute;
            right: 0;
            display: grid;
            place-items: center;
            height: 50%;
            border: 1px solid var(--light-txt-3, rgba(200, 200, 200, 1));
      
            &>* {
               position: absolute;
               cursor: ew-resize;
               user-select: none;
               z-index: 1;
               width: 20px;
               height: 30px;
               left: -10px;
            }
         }
      }
   }
}

.headerMenuWrapper {
   overflow: hidden;
   position: fixed;
   display: grid;
   height: 13rem;
   width: 12rem;
   background-color: var(--red-deep-1);
   box-shadow: 0 0 5px 5px var(--dark-2);
   border-radius: var(--border-radius-1);

   & .menu {
      display: grid;
      overflow: hidden;

      & .fieldList {
         overflow: auto;
         display: grid;

         &::-webkit-scrollbar {
            height: var(--scrollbar-height-1);
            width: var(--scrollbar-width-1);
         }
   
         &::-webkit-scrollbar-track {
            background: var(--scrollbar-track-1);
         }
   
         &::-webkit-scrollbar-thumb {
            background: var(--scrollbar-thumb-1);
         }
   
         &::-webkit-scrollbar-corner {
            background: rgba(0, 0, 0, 0);
         }

         & .field {
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;

            & label {
               overflow: hidden;
               text-overflow: ellipsis;
               white-space: nowrap;
            }
         }
      }
   }
}


.columnGhost {
   overflow: hidden;
   position: fixed;
   pointer-events: none;
   display: flex;
   z-index: 1;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
   width: 7rem;
   height: 3rem;
   opacity: 0.9;

   background-color: var(--red-deep-1);
   box-shadow: 0 0 5px 5px var(--dark-2);
   border-radius: var(--border-radius-1);

   & .label {
      margin: 0.5rem;
      pointer-events: all;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
   }
}


.listRowWrapper {
   overflow: hidden;
   display: grid;

   & .viewportWrapper {
      overflow: auto;

      &::-webkit-scrollbar {
         height: var(--scrollbar-height-1);
         width: var(--scrollbar-width-1);
      }

      &::-webkit-scrollbar-track {
         background: var(--scrollbar-track-1);
      }

      &::-webkit-scrollbar-thumb {
         background: var(--scrollbar-thumb-1);
      }

      &::-webkit-scrollbar-corner {
         background: rgba(0, 0, 0, 0);
      }


      & .viewport {
         & .viewMover {
            display: grid;

            & .listRow {
               display: flex;
               flex-flow: row nowrap;
               align-items: center;

               &.odd {
                  background-color: var(--dark-blue-3);
               }

               &.even {
                  background-color: var(--dark-blue-1);
               }
               
               & .rowField {
                  display: flex;
                  align-items: center;

                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;

                  & .checkbox {
                     padding-right: 0.4rem;
                     opacity: 0.4;
                  }

                  & .icons {
                     display: flex;
                     flex-flow: row;

                     &>*{
                        opacity: 0.4;
                        margin-right: 0.4rem;

                        &:hover {
                           opacity: 1;
                           cursor: pointer;
                        }
                     }
                  }

                  & .fieldText {
                     overflow: hidden;
                     white-space: nowrap;
                     text-overflow: ellipsis;
                  }
               }
            }
         }
      }
   }
}