.host {
   display: grid;
   grid-auto-flow: column dense;
   grid-auto-columns: min-content;

   overflow: auto;

   &::-webkit-scrollbar {
      height: var(--scrollbar-height-2);
      width: var(--scrollbar-width-1);
   }

   &::-webkit-scrollbar-track {
      background: var(--scrollbar-track-1);
   }

   &::-webkit-scrollbar-thumb {
      background: var(--scrollbar-thumb-1);
   }

   &::-webkit-scrollbar-corner {
      background: rgba(0, 0, 0, 0);
   }

   &>* {
      border-right: 2px solid var(--dark-3)
   }
}