@import "mixins";


:host {
   display: grid;
   place-items: center;
   padding: 0.25rem;
   border-radius: 0.5rem;
   cursor: pointer;

   @include shadowStyle;
}

svg-icon {
   display: grid;
   place-items: center;
}
