<form [formGroup]="formGroup" *ngIf="form">
   <section>
      <header>
         <h1>{{form.name}}</h1>
      </header>
   </section>

   <section>
      <fl-input
         *ngFor="let prop of formGroup.controls | keyvalue | sortByOrder: form.formControlsInfo"
         [formControlName]="prop.key"
         [label]="form?.formControlsInfo[prop.key].label">
      </fl-input>
   </section>

   <section>
      <button (click)="save()" [disabled]="!formGroup.valid">Save</button>
      <button (click)="submit()" [disabled]="!formGroup.valid">Submit</button>
   </section>
</form>